body {
	margin: 0;
	padding: 0.5rem;
}

* {
	box-sizing: border-box;
}

#main {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
}

#bar {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

#board {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.pixel {
	height: 15px;
	width: 15px;
	border: 2px solid black;
}